.navbar-brand {
    background: salmon;
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;

}

.collapse.navbar-collapse ul {
    padding-left: 1250px;
    
}

.intro_1 {
    padding-top: 30px;
    padding-bottom: 25px;
}

.container  {
    padding: 0;
    display: inline-block;
}

