.navbar-brand {
    background: salmon;
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
    

}


.collapse.navbar-collapse ul {
    padding-left: 1250px;
    
}

@media {
  body{
      background-color: black;
  }